<html>
<head>
    <title>Gothons From Planet Percal #25</title>
</head>
<body>

<%= yield %>

</body>
</html>

<%#
    This simply takes the common HTML at the top and bottom of every template and puts it into one file. 
    The code: <%= yield %>
<%#
    is a Ruby thing that says to stop there and run the other view then come back. 
    By putting this into views/layout.erb we're telling Sinatra to "wrap" all of our templates with this HTML.
%>