<html>
    <head>
        <title>GothonWeb V2</title>
    </head>
<body>
    <h1>You Died!</h1>
    <pre>Congratulations, you made it to the secret page... next time go easy on the refreshes.</pre>
    <p><a href="/">Play Again</a></p>
</body>
</html> 