<h1>Fill Out This Form</h1>

<form action="/hello/" method="POST"> 
    A Greeting: <input type="text" name="greeting"> 
    <br/>
    Your Name: <input type="text" name="name">
    <br/>
    <input type="submit">
</form>

<%#
The <form> tag starts it off and says where to deliver this form. In this case it's to action="/hello/" which is our post '/hello/' handler, and method="POST" which tells the browser to use this mechanism.
<input> tags give the type of input fields we want, and the parameters to use
These parameters are then mapped in our post '/hello/' code to create the greeting and name variables which get passed as :locals to the erb :index call.
%>
