<html>
<head>
    <title>GothonWeb V2</title>
</head>
<body>
<h1><%=room.name%></h1>
<pre><%= room.description%></pre>
<p>What is your decision?</p>
    <form action='/game' method='post'> 
        <ul style="list-style-type:none;">
            <% user_choices = room.paths
                user_choices.each do |choice, outcome|%>
                <li>
                    <label class='radio'>
                        <input type='radio' name='action' value='<%=choice%>'> 
                        <%=choice.capitalize%>
                    </label>
                </li>
            <% end %>
        </ul>
        <button type='SUBMIT' class='btn btn-primary'>Make your choice!</button>
    </form>
</body>
</html>
