<html>
<head>
    <title>GothonWeb V2</title>
</head>
<body>
<h1><%=room.name%></h1>
    <pre><%=room.description%></pre>
    <% if room.name == "Death" || room.name == "The End" %>
        <p><a href="/">Play Again?</a></p>
    <% elsif room.name == "Laser Weapon Armory" || room.name == "Escape Pod" %>
        <p>
        <form action="/game" method="POST">
            <input type="text" name="action"> <input type="SUBMIT">
        </form>
        </p>
    <% else %>
        <p>What is your decision?</p>
            <form action='/game' method='post'> 
                <ul style="list-style-type:none;">
                    <% user_choices = room.paths
                        user_choices.each do |choice, outcome|%>
                        <li>
                            <label class='radio'>
                                <input type='radio' name='action' value='<%=choice%>'> 
                                <%=choice.capitalize%>
                            </label>
                        </li>
                    <% end %>
                </ul>
                <button type='SUBMIT' class='btn btn-primary'>Make your choice!</button>
            </form>
    <% end %>
</body>
</html>
