<html>
<head>
    <title>Map Chooser</title>
</head>
<body>
<h1>Map Chooser</h1>
    <pre><%="       Select Your Map"%></pre>
        <form action="/" method="POST">
            <ul style="list-style-type:none;">
                <li>
                    <label class='radio'>
                        <input type='radio' name='map' value='humpty'>Humpty
                    </label>
                </li>
                <li> 
                    <label class='radio'>
                        <input type='radio' name='map' value='gothon'>Gothon
                    </label>
                </li>   
            </ul>
            <button type='SUBMIT' class='btn btn-primary'>Make your choice!</button>
        </form>
</body>
</html>
