<html>
    <head>
        <title>Feedback</title>
    </head>
<body>
    <h1>Feedback</h1>
    <pre>Please enter any feedback below, I will get back to you shortly...</pre>
    <form action="/" method="POST">
            <ul style="list-style-type:none;">
                <li>
                    <label class='text'>
                       Name:<br><input type='text' name='user'>
                    </label>
                </li>
                <li> 
                    <label class='text'>
                       Email Address:<br><input type='text' name='email'>
                    </label>
                </li>

                <label class='text'>
                     Feedback:<br><input type='text' name='feedback'>
                    </label>
                </li>     
            </ul>
            <button type='SUBMIT' class='btn btn-primary'>Submit Feedback</button>
        </form>
</body>
</html> 